<tr>
  <td><%= content.text %></td>
  <td><%= content.from_lang%></td>
  <td><%= content.translations.size %>
  <td><%= link_to 'New', new_content_translation_path(content) %></td>
  <td><%= link_to 'Show', content %></td>
  <td><%= link_to 'Edit', edit_content_path(content) %></td>
  <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
