<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, class: "label" %>
    <div class="control">
      <%= form.text_area :text, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :translation, class: "label" %>
    <div class="control">
      <%= form.text_area :translation, class: "textarea", readonly: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :from_lang, class: "label" %>
    <div class="select"> 
      <%= form.select(:from_lang, options_for_select([["English", "en"], ["French", "fr"], ["Spanish", "es"]])) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :to_lang,  class: "label" %>
    <div class="select"> 
      <%= form.select(:to_lang, options_for_select([["English", "en"], ["French", "fr"], ["Spanish", "es"]])) %>
    </div>
  </div>

  <div class="actions control">
    <%= form.submit %>
  </div>
<% end %>
