<div class="modal" data-target="content.showModal" data-controller="content">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Original Text</p>
    </header>
    <section class="modal-card-body">
      <%= form_with(model: content, local: true, class: "form content-form", data: {target: "content.modalForm"}) do |form| %>
        <% render "content_form_error_section", content: content%>
        <div class="field">
          <%= form.label :text, "Enter Original Text", class: "label" %>
            <div class="control">
              <%= form.text_area :text, class: "textarea" %>
            </div>
        </div>

        <div class="field">
          <%= form.label :from_lang, "Language of original", class: "label" %>
            <div class="select">
              <%= form.select(:from_lang, google_language_options) %>
            </div>
        </div>
        <footer class="modal-card-foot">
          <div class="actions control">
            <%= form.submit "OK", class:"button is-success" %>
          </div>
        </footer>
      <% end %>
    </section>
  </div>
</div>