<%= form_with(model: @translation, url: [@content, @translation], local: true) do |form| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Target Language", class: "label is-small" %>
    <div class="select"> 
      <%= form.select(:to_lang, google_language_options) %>
    </div>
  </div>

  <div class="field">
    <%= form.label "Original Content" %>
    <%= form.label translation.content.text %>
  </div>

  <div class="field">
    <%= form.label "Translation" %>
    <% if translation.translation.nil? %>
      <em>no translation yet</em>
    <% else %>
      <%= form.label translation.translation %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Submit spefication", class: "button" %>
  </div>
<% end %>
