<% content_for :title_area do %>
  Translation
<% end %>
<p>
  <strong>Translation:</strong>
  <%= @translation.translation %>
</p>

<p>
  <strong>To lang:</strong>
  <%= @translation.to_lang %>
</p>

<p>
  <strong>Content:</strong>
  <%= @translation.content %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
